<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upreal" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.camera2" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.upreal.splashScreen.SplashScreenLoadingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.google.zxing.client.android.CaptureActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.zxing.client.android.SCAN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.upreal.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.home.ParameterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <!--Product-->

        <activity
        android:name="com.upreal.product.ProductActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.product.ProductUpdateActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.product.ProductSearchActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <!-- Store -->

        <activity
            android:name="com.upreal.store.StoreActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <!--News-->

        <activity
            android:name="com.upreal.news.NewsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.scan.AddProductFromScan"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <!--User-->

        <activity
            android:name="com.upreal.user.UserActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.upreal.user.UserUpdateActivity"
            android:label="UpReal"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.upreal.user.UserChangePwd"
            android:label="UpReal"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.scan.CameraActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.upreal.scan.Camera2Activity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.scan.GetProductActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.list.ListActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.upreal.list.ListCustomActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.geolocalisation.GeolocalisationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.upreal.list.ListBaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.bridge.BridgeDeviceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.upreal.home.TestNews"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyChPHKdhfJmM6TBhVzhocIX3hd4ItCOfIs" />
        <!--<meta-data android:name="com.google.android.gms.games.APP_ID"-->
            <!--android:value="927679151177-sg3pjame3vs8eq2l38evmegtqp3gca8s.apps.googleusercontent.com" />-->

    </application>

</manifest>
