<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upreal" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name="com.upreal.home.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.upreal.bridge.BridgeDeviceActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.global.NewsActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.global.NewsResultActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.global.RateActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.global.AddListActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.global.DeleteListActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.search.SearchActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.search.SearchResultActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.product.ProductActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.user.UserActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.user.ProfileActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.user.HistoryActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.user.AchievementActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.user.AchievementListActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.user.ItemActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.user.ListActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="com.upreal.store.StoreActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="android.support.wearable.activity.ConfirmationActivity">
        </activity>

    </application>

</manifest>
